main{
  min-height: 200vh;
}
.main-banner{
  background-color: #F2E9D8;
  padding-top:3.2rem;
}

.main-banner .container{
  display: flex;
  align-items: flex-end;
}
.main-banner .container img{
  max-width: clamp(22.5rem,35vw,41.5rem);
}
.main-banner .banner-text-content{
  padding-right:12.8rem;
  padding-bottom:26.2rem;
}
.main-banner .banner-text-content .title{
  font-size: clamp(3.84rem, 3.33vw, 4.8rem);
  font-weight: 700;
  line-height: 1.22;
}
.main-banner .banner-text-content .sub-title{
  font-size: clamp(1.4rem, 1.3vw, 1.6rem);
  margin:4.0rem 0;
}


/* main-about */
.main-about {
  margin-top:8.0rem;
}
.main-about .container.d-flex{
  align-items: center;
  justify-content: space-between;
  gap:2rem;
}
.main-about .img-wrap{
  overflow: hidden;
  max-width: 100%;
  width: clamp(45rem,50vw,66rem);
}
.main-about .img-wrap img{
  aspect-ratio: 22 / 13;
  object-fit: cover;
}
.main-about  .about-text-content{
  max-width: 51rem;
}
.main-about  .about-text-content .title{
  font-size: 3.6rem;
  line-height: 1.25;
  font-weight: 700;
}
.main-about  .about-text-content .sub-title{
  font-size: 1.6rem;
  margin-top:3.0rem;
}

/*pc main-gallery*/
.main-gallery {
  margin-top:12rem;
  text-align: center;
}
.main-gallery h3{
  font-size: clamp(3.8rem, 3.33vw, 4.8rem);
  font-weight: 700;
}
.main-gallery p{
  font-size: clamp(1.4rem, 1.3vw, 1.6rem);
  margin:4.0rem 0 8.8rem;
}
.main-gallery .gallery-banner-wrap{
  display: flex;
  gap:7.2rem;
  justify-content: space-between;
}
.main-gallery .gallery-banner-wrap li{
  max-width: 37.8rem;
}

/* about-more */
.about-more{
  margin: 9rem 0 19.6rem; 
}
.about-more .d-flex{
  align-items: center;
  justify-content: center;
  gap:5.2rem;
}
.about-more p{
  font-size: 1.6rem;
}
.about-more .btn{
  flex-shrink: 0;
}

/*subscribe*/
.subscribe{
  padding:0 0 24.6rem;
  position: relative;
  background-image:url('./../img/form-bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.subscribe form{
  border-radius: 3rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding-block: 5.0rem;
  padding-inline: clamp(3.5rem, 3.4vw, 5.8rem);
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}
.subscribe .subscribe-text-cont h3{
  font-size:clamp(2.4rem,2.27vw,3.6rem);
  line-height: 1.27;
  margin-bottom:1.8rem;
  font-weight: 700;
}
.subscribe .subscribe-text-cont p{
  font-size:1.4rem;
  line-height: 1.28;
}
.subscribe form .input-box-wrap{
  position: relative;
}
.subscribe form .input-box-wrap::before{
  content: "";
  position: absolute;
  width: 2.4rem;
  height:  2.4rem;
  background:url('./../img/mail.svg') no-repeat 50%;
  background-size: contain;
  left:2.8rem;
  top:50%;
  transform: translateY(-50%);
  z-index: 1;
}
.subscribe form .input-box-wrap input{
  font-size: 1.6rem;
  width: clamp(40rem,35.6vw,53rem);
  padding:2rem 14rem 2rem 6.8rem;
  border-radius: 6rem;
  background-color: var(--color-white);
  position: relative;
  border:none;
}
.subscribe form .input-box-wrap .btn{
  position: absolute;
  right: 5px;
  top:50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  main .container{
    max-width: calc(100% - 6.4rem);
  }

  /* main-banner */
  .main-banner{
    padding-top:4.0rem;
  }
  .main-banner .container{
    flex-direction: column;
    align-items: center;
    gap:3.0rem;
  }
  .main-banner .container .banner-text-content{
    text-align: center;
    padding-inline: clamp(1.8rem, 5.9vw, 2.3rem);
    padding-bottom:0;
  }
  .main-banner .banner-text-content .title{
    font-size:2.4rem;
  }
  .main-banner .banner-text-content .sub-title{
    font-size: 1.4rem;
    margin:3.0rem 0;
  }

  /* main-about */
  .main-about .container.d-flex{
    flex-direction: column;
    gap:4.0rem;
  }
  .main-about .about-text-content .title{
    font-size: 2.4rem;
  }
  .main-about .about-text-content .sub-title{
    font-size: 1.4rem;
    margin-top:2.0rem;
  }

  /*mobile main-gallery*/
  .main-gallery{
    margin-top:6rem;
  }
  .main-gallery h3{
    font-size: 2.4rem;
  }
  .main-gallery p{
    font-size: 1.6rem;
    margin:3rem 0 0;
  }

  .main-gallery .gallery-banner-wrap{
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    padding: 4rem 0 6rem 0.8rem;
    gap:4.4rem;
    scrollbar-width: none;     
    -ms-overflow-style: none;   
  }
  .main-gallery .gallery-banner-wrap::-webkit-scrollbar {
    display: none;            
  }
  .main-gallery .gallery-banner-wrap li{
    max-width: inherit;
    flex-shrink: 0;
    width: 26rem;
    height: 26rem;
  }
  .main-gallery .gallery-banner-wrap::after {
    content: "";
    display: block;
    flex: 0 0 1rem; /* 마지막 여백 */
  }


  /*mobile - about-more */
  .about-more{
    margin:0 0 5rem;
  }
  .about-more .d-flex{
    flex-direction: column;
    gap:3rem;
  }
  .about-more p{
    font-size: 1.6rem;
    line-height: 1.29em;
  }
  .about-more .btn{
    margin-left:auto
  }

  /*mobile subscribe*/
  .subscribe{
    padding-bottom:17.2rem;
    background-size: 100% auto;
    background-position: bottom;
  }
  .subscribe form{
    border-radius: 1.8rem;
    flex-direction: column;
    padding:3.6rem 3rem 3rem;
    transform: translateY(0);
  }
  .subscribe .subscribe-text-cont h3{
    font-size:2.4rem;
    margin-bottom:2rem;
  }
  .subscribe .subscribe-text-cont p{
    font-size: 1.4rem;
    margin-bottom:3.0rem;
  }
  .subscribe form .input-box-wrap::before{
    top:1.1rem;
    transform: translateY(0%);
    width: 1.8rem;
    height:1.8rem;
    left:1.6rem;
  }
  .subscribe form .input-box-wrap{
    width: 100%;
    max-width: 49rem;
  }
  .subscribe form .input-box-wrap input{
    width: 100%;
    font-size: 1.2rem;
    padding:1.2rem 1.2rem 1.2rem 4.8rem;
  }
  .subscribe form .input-box-wrap .btn{
    position: relative;
    display: block;
    margin:2rem 0 0 auto;
    right: 0;
    top:0; 
    transform: translateY(0%);
  }
}

